@import "Bourbon"
@import "Neat"
@import font
@import warning

$primary-color: #eb1a79
$decoration: underline



h1
	color: $primary-color
	text-decoration: $decoration

	a
		background-color: red
		+font-sizerz(200%)



p
	color: $text-color
	font-family: $helvetica



body, html
	width: 100%

ul
	width: 200px * 2 - 50px



.prefixerTest
	background-color: $primary-color
	width: 600px
	height: 400px
	border-radius: 20px
	display: flex
	justify-content: center
	align-items: center